{% extends "base/page.html" %}


{% block page_content %}
<div>
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="width: 600px; display: table-cell;">
                <h1>{{ name }}</h1>
                {% if description is not none %}
                    <p>{{ description }}</p>
                {% else %}
                    <br>
                {% endif %}
            </div>
            <div style="display: table-cell;">
                <h2>Days complete: {{ points }}</h2>
            </div>
        </div>
    </div>

    <hr>
    <p><small>{% include "calendar_guide.html" %}</small></p>
    {{ calendar | safe }}
</div>
{% endblock %}